@import "~@angular/material/theming";

$md-primary: (
    50: #fdefe4,
    100: #fbd7bd,
    200: #f8bd91,
    300: #f5a364,
    400: #f38f43,
    500: #f17b22,
    600: #ef731e,
    700: #ed6819,
    800: #eb5e14,
    900: #e74b0c,
    A100: #ffffff,
    A200: #ffe6de,
    A400: #ffc0ab,
    A700: #ffac91,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-warn: (
    50: #fcebe5,
    100: #f7cdbe,
    200: #f1ab93,
    300: #eb8967,
    400: #e77047,
    500: #e35726,
    600: #e04f22,
    700: #dc461c,
    800: #d83c17,
    900: #d02c0d,
    A100: #fffdfc,
    A200: #ffd0c9,
    A400: #ffa396,
    A700: #ff8d7d,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-accent: (
    50: #e7ebf4,
    100: #c2cde3,
    200: #9aacd1,
    300: #728abe,
    400: #5371b0,
    500: #3558a2,
    600: #30509a,
    700: #284790,
    800: #223d86,
    900: #162d75,
    A100: #adbeff,
    A200: #7a95ff,
    A400: #476dff,
    A700: #2d59ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-dark: (
    50: #e3e3e4,
    100: #bab9bc,
    200: #8c8b8f,
    300: #5e5d62,
    400: #3c3a41,
    500: #19171f,
    600: #16141b,
    700: #121117,
    800: #0e0d12,
    900: #08070a,
    A100: #5151ff,
    A200: #1e1eff,
    A400: #0000ea,
    A700: #0000d0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-light: (
    50: #fcfcfc,
    100: #f7f8f7,
    200: #f2f3f2,
    300: #edeeed,
    400: #e9eae9,
    500: #e5e6e5,
    600: #e2e3e2,
    700: #dedfde,
    800: #dadbda,
    900: #d3d5d3,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
